<div>
    <header style=" border-style: solid; border-width: 2px 10px 4px 20px;">
        <h1 align=center>Natural Language Processing (NLP) Temple</h1>
        <b><code style="color: orangered;">Enlighten yourself with natural language processing wisdom.</code></b>
    </header>
</div>
<br />
<h1>Step 1: Sentence Segmentation</h1><br><a href="{% url  'Temple' %}"> back to Temple</a></br>

<h3> Original text : </h3>
 {{ origin }}
<br>
<hr style="border-style: dashed ;">
<h3> Sentences from text : </h3>
<Ol>
    {% for token in tokens %}
    <li>
        {{token}}
    </li>
    {% endfor %}
</Ol>
<hr>
<footer>
    <h6 align="center">
        Crafted by <b> => </b> Swapnil
    </h6>
</footer>